# virtual environments
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# airflow local dirs (if created)
airflow_home/
logs/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
